# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\User\Desktop\ICL\COMP Y1 S1\COMP40009 - Functional Programming\kotlinprojects\aoc2020-kotlin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
